
server:
  # 1. Map the secrets to the specific Env Vars Vault expects
  extraEnv:
    - name: AWS_ACCESS_KEY_ID
      valueFrom:
        secretKeyRef:
          name: aws-kms-creds
          key: accessKeyID
    - name: AWS_SECRET_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: aws-kms-creds
          key: secretAccessKey
    - name: AWS_REGION
      valueFrom:
        secretKeyRef:
          name: aws-kms-creds
          key: region
    - name: VAULT_AWSKMS_SEAL_KEY_ID
      valueFrom:
        secretKeyRef:
          name: aws-kms-creds
          key: kmsKeyId
  ha:
    enabled: true
    replicas: 3
    config: |
      ui = true

      listener "tcp" {
        tls_disable = 1
        address = "[::]:8200"
        cluster_address = "[::]:8201"
      }

      storage "consul" {
        path = "vault"
        address = "HOST_IP:8500"
      }

      service_registration "kubernetes" {}

      # --- THIS BLOCK IS REQUIRED ---
      seal "awskms" {
        # Vault automatically finds the credentials and key ID
        # from the environment variables we defined above.
      }
