# platform/registry/harbor-values.yaml
expose:
  type: loadBalancer
  tls:
    enabled: true
    certSource: secret
    secret:
      secretName: "harbor-registry-tls"
      notarySecretName: "harbor-registry-tls"
  loadBalancer:
    name: harbor

externalURL: https://registry.phoenix-project.online

harborAdminPassword: "Harbor@12345"

persistence:
  enabled: true
  imageChartStorage:
    storageClass: "gp3"  # AWS EBS gp3 storage class
    size: 5Gi

database:
  internal:
    persistence:
      storageClass: "gp3"  # AWS EBS gp3 storage class
      size: 2Gi

redis:
  enabled: true
