# platform/registry/harbor-values.yaml
expose:
  type: loadBalancer
  tls:
    enabled: true
    certSource: secret
    secret:
      secretName: "harbor-registry-tls"  # Your existing certificate
      notarySecretName: "harbor-registry-tls"  # Use the same cert for notary
  loadBalancer:
    name: harbor

externalURL: https://registry.pheonix.live  # Changed to https

harborAdminPassword: "Harbor@12345"

persistence:
  enabled: true
  imageChartStorage:
    storageClass: "do-block-storage-retain"
    size: 5Gi

database:
  internal:
    persistence:
      storageClass: "do-block-storage-retain"
      size: 2Gi

redis:
  enabled: true
