# platform/registry/harbor-values.yaml
expose:
  ingress:
    enabled: true 
    hosts:
      # Use your external domain for the NGINX Ingress host rule
      core: registry.pheonix.live 
      
  # CRITICAL: Define the service type for the NGINX controller
  controller:
    service:
      type: LoadBalancer # Requests a cloud Load Balancer from DigitalOcean
      
  # 3. Disables TLS handling in the chart, relying on K8s Secret (Cert-Manager)
  tls:
    enabled: false

persistence:
  enabled: true
  imageChartStorage:
    storageClass: "do-block-storage-retain"
    size: 5Gi

database:
  internal:
    persistence:
      storageClass: "do-block-storage-retain" 
      size: 2Gi

redis:
  enabled: true
