# platform/registry/harbor-values.yaml
expose:
  type: ingress
  ingress:
    enabled: true 
    hosts:
      # Use your external domain for the NGINX Ingress host rule
      core: registry.pheonix.live 
      registry: registry.pheonix.live
    annotations:
      nginx.ingress.kubernetes.io/ssl-ridirect: "false"
      nginx.ingress.kubernetes.io/proxy-body-size: "0"
      nginx.ingress.kubrenetes.io/proxy-read-timeout: "600"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
      
  # 3. Disables TLS handling in the chart, relying on K8s Secret (Cert-Manager)
  tls:
    enabled: false

persistence:
  enabled: true
  imageChartStorage:
    storageClass: "do-block-storage-retain"
    size: 5Gi

database:
  internal:
    persistence:
      storageClass: "do-block-storage-retain" 
      size: 2Gi

redis:
  enabled: true
