apiVersion: v1
kind: Service
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
      # CRITICAL: This prefix (http/https/grpc/etc.) is used by Istio to determine 
      # the correct protocol for routing and telemetry.
      name: http-web 
  selector:
    app: frontend
  type: ClusterIP